# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules

# Build output directories
# احذف dist بس سيب docs
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel / Netlify configs
.vercel

# ⚠️ ملاحظات:
# احنا مش هنضيف docs هنا علشان نرفعه على GitHub Pages
